<div id="header"></div>
<div class="container_12">
	
	<div id="nav">
		<ul>
			<li><a href="http://designshack.co.uk/">Home</a></li>
			<li><a href="http://designshack.co.uk/">About</a></li>
			<li><%= link_to "Blog", posts_path %></li>
			<li><a href="http://designshack.co.uk/">Contact</a></li>
		</ul>
	</div>
	
	<div class="clear"></div>
	
	<div id="headline" class="grid_12">
		<h2>Neal Sales-Griffin</h2>
		<p>This font will look good someday...</p>
	</div>
	
	<div class="clear"></div>
	
	<div id="contentBox" class="grid_12">
	</div>
	
	<div class="clear"></div>
	
	<div class="lineItem grid_4">
		<img src="photo3-fpo.jpg" />
	</div>
	
	<div class="lineItemText grid_8">
		<h2>Don't click me yet.'</h2>
		<p>I should have brushed my hair and lined my beard up a bit before taking this pic...</p>
	</div>
	
	<div class="clear"></div>
	
	<div class="lineItem grid_4">
		<img src="photo2-fpo.jpg" />
	</div>
	
	<div class="lineItemText grid_8">
		<h2>A blizzard.</h2>
		<p>I took this picture today on my block, luckily my car was not snowed in, but everyone else's was!</p>
	</div>
	
	<div class="clear"></div>
</div>

<div id="footer"></div>
<!-- end .container_24 -->
